@import "../../scss/index.scss";

@mixin styleBtnHeader($radius, $pd-y, $pd-x, $bg) {
    border-radius: $radius;
    padding: $pd-y $pd-x;
    background-color: $bg;
}

.header-airbnb {
    width: 100%;
    transition: ease 1s;
    -webkit-transition: ease 1s;
    .logo-airbnb {
        width: 102px;
        height: 32px;
    }
}
.bg-one {
    background-color: transparent;
    height: 80px;
}
.bg-two {
    background-color: white;
    height: 60px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn-search {
    @include styleBtnHeader(40px, 4px, 20px, rgba(255, 255, 255, 0.846));
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    font-weight: 500;
    cursor: pointer;
    span {
        color: $text-header;
        padding: 0px 8px;
    }
    .icon__search {
        border-radius: 50px;
        background-color: $color-AirBnb;
        padding: 7px;
        font-size: 28px;
        color: white;
    }
}
.btn__no-boder {
    @include styleBtnHeader(40px, 10px, 8px, transparent);
    border: none;
    font-weight: 500;
    color: $text-header;
    &:hover {
        background-color: #e1e1e1;
    }
}
.btn-user {
    @include styleBtnHeader(40px, 6px, 12px, rgba(255, 255, 255, 0.846));
    font-size: 1.7rem;
    border: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    .user {
        color: #717171;
    }
    &:hover {
        background-color: #f5f4f4;
    }
    svg {
        &:nth-child(1) {
            font-size: 1rem;
        }
    }
}
.header-location {
    position: relative;
}
.menu-select {
    display: flex;
    list-style: none;
    cursor: pointer;
    li {
        margin: 0 10px;
        font-weight: 500;
    }
    .menu-active {
        color: $color-AirBnb;
        font-weight: 700;
        border-bottom: 2px solid $color-AirBnb;
    }
}
.dropdownUser__menu {
    position: absolute;
    width: 200px;
    top: 60px;
    right: 0;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: white;

    ul {
        padding: 6px 20px;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .dropdownUser__item {
        list-style: none;
        padding: 4px 0;
        font-size: 1.15rem;
        color: black;
        text-decoration: none;
        transition: linear 0.3s;
        -webkit-transition: linear 0.3s;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: $color-AirBnb;
        }
        svg {
            margin-right: 6px;
        }
    }
    .user {
        text-transform: capitalize;
        color: $color-AirBnb;
        font-weight: bold;
    }
    .admin {
        font-weight: 500;
        color: #717171;
    }
    .underlined {
        border-bottom: 1px solid #9a9a9a;
        font-weight: 500;
        color: #717171;
    }
}

.select-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(229, 216, 216);
    border-radius: 40px;
    position: absolute;
    padding-left: 2px;
    top: 50px;
    right: -75%;
    width: 680px;
    background-color: white;
    .btn__select-search {
        padding: 0 20px;
        background-color: $color-AirBnb;
        color: white;
        font-weight: 700;
        border: none;
        margin-right: 10px;
        transition: linear 0.3s;
        -webkit-transition: linear 0.3s;
        &:hover {
            opacity: 0.8;
            color: white;
        }
        span {
            padding: 0 10px;
        }
    }

    .input__choose-item {
        display: flex;
        flex-direction: row;
        padding: 8px 10px;
        border-radius: 40px;
        transition: linear 0.3s;
        -webkit-transition: linear 0.3s;
        &:hover {
            background-color: #fcf0f0;
        }
    }
}

// mobile
.header-mobile {
    width: 100%;
    padding: 0 4px;
}
.header__mobile-top {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid rgb(229, 216, 216);
    border-radius: 40px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0, 0, 0);
    svg {
        color: $color-AirBnb;
    }
    span {
        padding: 0 10px;
        color: #717171;
    }
}
.header__mobile-location {
    background-color: white;
    width: 100%;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    .menu__mobile-select {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-weight: 500;
        padding-left: 0;
        background-color: white;
        .menu-active {
            font-weight: bold;
        }
    }
    padding: 10px;
}
.header__mobile-bottom {
    width: 100%;
    margin: 0 auto;
    padding: 2px 0 !important;
    background-color: white;
    z-index: 50;
    border-top: 1px solid #717171;
    .menu__bottom {
        width: 90%;
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding-top: 2px;
        font-size: 1rem;
        padding-left: 0;
        .menu__bottom-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 500;
            padding: 0 8px;
            color: black;
            text-decoration: none;
            transition: linear 0.3s;
            -webkit-transition: linear 0.3s;
            svg {
                font-size: 1.8rem;
            }
            &:hover {
                color: $color-AirBnb;
            }
        }
        .user {
            text-transform: capitalize;
            color: $color-AirBnb;
            font-weight: bold;
        }
        .underlined {
            font-weight: 500;
            color: #717171;
        }
    }
}
.select__mobile-location {
    display: flex;
    flex-direction: column;
    .input__mobile-choose-item {
        width: 100%;
        padding: 8px 0px;
        .ant-space-item {
            width: 100%;
        }
        .ant-space {
            width: 50%;
            .ant-picker {
                border-radius: 40px;
                width: 100%;
            }
        }
        .ant-select {
            width: 100%;
        }
        .ant-select-selector {
            border-radius: 40px;
        }

        .css-dev-only-do-not-override-15u6b4u {
            width: 100%;
        }
    }
}
.ant-picker-panels {
    width: 100%;
}
.btn__mobile-search {
    background-color: $color-AirBnb;
    color: white;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    &:hover {
        background-color: #ff123d;
    }
}
@media screen and (max-width: 1023px) {
    .select-location {
        right: -55%;
    }
    .header-airbnb {
        width: 100%;
    }
}
