@import "../../scss/index.scss";
.footer {
    width: 100%;
    background-color: rgb(244, 241, 241);
}
.footer-container {
    width: 90%;
    margin: 0 auto;
    .ant-row {
        padding: 40px 0 20px;
        border-bottom: 1px solid rgb(210, 207, 207);
        h5 {
            color: $color-AirBnb;
            font-size: 1.4rem;
        }
        ul {
            padding-left: 0;
        }
        li {
            list-style: none;
            line-height: 2;
            cursor: pointer;
            color: rgb(37, 36, 36);
            font-weight: 500;
            &:hover {
                color: $color-AirBnb;
            }
        }
    }
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    .footer-bottom-left {
        display: flex;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        span {
            margin-right: 4px;
        }
    }
}
.footer-bottom-center {
    ul {
        display: flex;
        li {
            margin-right: 16px;
            list-style: none;
            font-size: 1.1rem;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                color: $color-AirBnb;
            }
        }
    }
}
.footer-bottom-right {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-around;
    .language,
    .dollar {
        cursor: pointer;
        u {
            font-weight: bold;
        }
        &:hover {
            color: $color-AirBnb;
        }
    }

    span {
        padding: 0 10px;
    }
    .footer-icon {
        cursor: pointer;
        .icon {
            margin: 0 4px;
            font-size: 1.3rem;
            &:hover {
                color: $color-AirBnb;
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .footer-bottom {
        display: flex;
        flex-direction: column;
        .footer-bottom-left {
            flex-direction: row;
            justify-content: space-between;
            ul {
                flex-direction: row;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
        .footer-bottom-left {
            flex-direction: column;
        }
        .footer-bottom-center {
            ul {
                flex-direction: column;
                padding-left: 20px;
            }
        }
    }
}
