@import "../../scss/index.scss";

.destination-container {
    width: 90%;
    margin: 0 auto;
    .title {
        font-weight: bold;
        cursor: pointer;
        transition: linear 0.2s;
        -webkit-transition: linear 0.2s;
        &:hover {
            color: $color-AirBnb;
        }
    }
    .title-city {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        &:hover {
            color: $color-AirBnb;
        }
    }
}
@media screen and (max-width: 1023px) {
    .destination-container{
        margin-top: 80px;
    }
}
// 320 cho ẩn đi
